<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Page</title>
        <link rel="stylesheet" href="./CSS/Chat.CSS">
    </head>

    <body>
        <div class="chatBox">
            <h1 class="group-name">Group Name</h1>
            
            <!-- Chat content area to hold the chat bubbles -->
            <div class="chatContent">
                <div class="chatBubbleOther">Other User: Humpdey DUmptey sat on a wall then he fell and trajicley died
                    poor hmpdey dumpdey so delicious in my scramled eggs
                </div>
                <div class="chatBubbleUser">Me: Wow scrambled eggs how delicious! NOM NOM NOM NOM</div>
                
            </div>
            
            <!-- Typing area at the bottom -->
            <form action="your_action_url" method="post">
                <input type="text" name="username" placeholder="" required>
                <button type="submit">Send</button>
            </form>
        </div>
    </body>
</html>